.verticalTextButton{
 vertical-align: middle !important;
 align-items: center;
 display: inline-block; 
 line-height: 1px !important;
}
.leftPadMidBut{
	margin-left: 10px;
}
.rightPadMidBut{
	margin-right: 10px;
}
.noMargin{
	margin: 0 !important;
}