.CONFIRMED{
  box-shadow: inset 8px 0 10px -6px green, inset -8px 0 10px -6px green;  
}
.FAIL{
  box-shadow: inset 8px 0 10px -6px red, inset -8px 0 10px -6px red;  
}
.FAILCOLOR{
  color: red;  
}
.myTradeContainer{
 text-align: center;
}
.sold{
 color: darkorange !important;
}
.bought{
 color: blue !important;
}
.breakWord{
 word-wrap: break-word !important;
}
