.MarketBalanceActive{
 color: #585AFA; 
 font-weight: 900; 
}
.dashboardOrderBook{
 border: 1px solid #000;
 background: #F9F9F9;
 text-align: center;
}
.dashboardOrderBookTitle{
 padding: 12px;
 border: 1px solid #000;
 background: #585AFA;
 text-align: center;
}
.dashboardActionsSort{
 vertical-align: middle;
 padding: 12px;
}
.dashboardOrderBookWrapper{
 margin-bottom: 12px;
}
.marginTopBot{
 margin-top: 12px;
 margin-bottom: 12px
}



